[submodule "ajc-front"]
	path = ajc-front
	url = git@github.com:ALJCepeda/ajc-front.git
[submodule "ajc-back"]
	path = ajc-back
	url = git@github.com:ALJCepeda/ajc-back.git
[submodule "ajc-shared"]
	path = ajc-shared
	url = git@github.com:ALJCepeda/ajc-shared.git
