[submodule "ajc-front"]
	path = repos/ajc-front
	url = git@github.com:ALJCepeda/ajc-front.git
[submodule "ajc-back"]
	path = repos/ajc-back
	url = git@github.com:ALJCepeda/ajc-back.git
[submodule "ajc-shared"]
	path = repos/ajc-shared
	url = git@github.com:ALJCepeda/ajc-shared.git
[submodule "repos/expressman"]
	path = repos/expressman
	url = git@github.com:ALJCepeda/expressman.git
[submodule "repos/ajc-client"]
	path = repos/ajc-client
	url = git@github.com:ALJCepeda/ajc-client.git
[submodule "repos/ts-generator"]
	path = repos/ts-generator
	url = git@github.com:ALJCepeda/ts-generator.git
